/* General */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.tituloTienda {
    background-color: #cfd44b;
    margin: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}


.articulos{
    background-color: #dfe6e9;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    min-height: 270px;
    max-width: 1200px;
}

.articulosCarrito {
    background-color: #dfe6e9;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    min-height: 310px;
    max-width: 1200px;
}

.articulo, .articuloCarrito {
    border: 1px solid #dcdde1;
    margin: 0;
    text-align: center;
    height: 200px;
    width: 180px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.boton, .botonBorrar {
    background-color: #cfd44b;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}


.botonIrAlCarrito:hover, .boton:hover, .botonBorrar:hover {
    background-color: #a8ab40; 
}

.total {
    background-color: #cfd44b;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.cantidadTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.botones{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

img{
    width: 120px;
    height: 120px;
}

.contenedor-lista {
    width: 90%;
    min-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #cfd44b;
    margin-bottom: 20px;
}

.lista {
    margin-bottom: 20px;
}

.articulo-lista {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.product-item:last-child {
    border-bottom: none;
}

.total-lista {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.formulario {
    margin-top: 20px;
}

.grupo-formulario {
    margin-bottom: 15px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.grupo-formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #cfd44b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #a8ab40;
}